extends ./components/layout

block content
  main
    header.page-header.page-header-compact.page-header-light.border-bottom.bg-white.mb-4
      .container-fluid
        .page-header-content
          .row.align-items-center.justify-content-between.pt-3
            .col-auto.mb-3
              h1.page-header-title
                .page-header-icon
                  i(data-feather='info')
                | Service info
    // Main page content
    .container.mt-4
      // Account page navigation
      nav.nav.nav-borders
        a.nav-link.active.ml-0(href='components-description-service.html') Info
        a.nav-link(href='components-description-service-library-analyzer.html') Library Analyzer
        a.nav-link(href='components-description-service-CI.html') CI
        a.nav-link(href='components-description-service-trail.html') Trail

      hr.mt-0.mb-4
      .row
        .col-xl-4
          .input-group.input-group-joined
            .input-group-prepend
              span.input-group-text
                i(data-feather='search')
            input#inputScaffoldId.form-control(type='text', placeholder='search service by version...', aria-label='Search', value="v1.0.0")
      div.mt-0.mb-4

      .row
        .col-xl-4
          // Profile picture card
          .card
            .card-header-actions
              .card-header
                | Service description
                a(href="#")
                  i(data-feather='edit')

            .card-body.text-center
              H2 Auth service
              p service description in README.md

        .col-xl-8
          // Account details card
          .card.mb-4
            .card-header Service details
            .card-body
              form
                .form-group
                  label.small.mb-1 Service name
                  input.form-control(type='text' value='my service' disabled=true)
                .form-group
                  label.small.mb-1 Namespace
                  input.form-control(type='text' value="DSO" disabled=true)
                .form-group
                  label.small.mb-1 Repository url
                  input.form-control(type='text' value='git://my_repo' disabled=true)
                .form-group
                  label.small.mb-1 Stream
                  input.form-control(type='text' value='core stream' disabled=true)
                .form-group
                  label.small.mb-1 Service Type
                  input.form-control(type='text' value="Common" disabled=true)
                .form-group
                  label.small.mb-1 SUBO
                  input.form-control(type='text' value="https://some_subo_link.com" disabled=true)


                hr.my-4
                h5 Resources
                .form-group
                  label.small.mb-1 CPU amount (vCpu)
                  input.form-control(type='number' value='128' disabled=true)
                .form-group
                  label.small.mb-1 Memory amount (mb)
                  input.form-control(type='number' value='128' disabled=true)
                .form-group
                  label.small.mb-1 Disk amount (mb)
                  input.form-control(type='number' value='128' disabled=true)


                hr.my-4
                h5 Tags
                .form-group
                  button.btn.btn-secondary.mr-2 Spring
                  button.btn.btn-secondary.mr-2 Java

                hr.my-4
                .d-flex.justify-content-between
                  a.btn.btn-primary(href='components-update-service.html') Update info
                  button.btn.btn-danger(type='button') Unregister service
